.em1 {
    color: #FF00FF
}

em {
    font-size: 3rem;
    color: blue
}

#myEm1 {
    font-size: 4rem;
}


h3 {
    font-size: 16px
}

a:link { color: green }
a:active { color: red }
a:visited { color: yellow }
a:hover { color: blue }

#a img {
    border: none
}

#a img:hover {
    border: 10px solid black;
}

#smallImage {
    width: 50px
}

/*
div {
    background-image: url("../img/HtmlCssJs.png");
}
*/


.MySheet {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

/*
td, th {
    height: 100px;
}
*/


