body {
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  color: #111111;
  font-family: sans-serif;
}

.head {
  background-color: #fdfdfd;
  padding: 20px 65px 20px 65px;
}

.head-nav-item {
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  cursor: pointer;
}

.head-nav-item-inactive {
  color: #505050;
}

.main {
  padding: 20px 65px 20px 65px;
  overflow: hidden;
}

.main-left {
  /* background-color: red; */
  width: 250px;
  float: left;
}

.main-right {
  /* background-color: blue; */
  float: left;
  width: calc(100% - 250px - 16px);
  padding-left: 16px;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px hsla(0, 0%, 51%, 0.16);
  padding: 10px 20px 10px 20px;
  margin-bottom: 16px;
}

.card-title {
  color: #812f33;
  font-weight: bold;
}

#avatar {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  margin-top: 30px;
  border-radius: 75px;
}

#name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

hr {
  border-top: 1px dashed #812f33;
}

.card-intro {
  width: 100%;
  height: auto;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.intro-icon {
  width: 25px;
  height: 25px; 
  vertical-align: middle;
  line-height: 30px;
  float: left;
}

.intro-text {
  /* line-height: 30px; */
  font-size: 15px;
  padding-left: 3px;
  float: left;
}

#comment-input {
  width: calc(100% - 25px);
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
}

#name-input {
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 10px;
  width: 50%;
  margin-bottom: 10px;
}

#submit-button {
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  border-radius: 5px;
  border-width: 1px;
  width: 80px;
  background-color: #90cbfb;
  margin-left: 10px;
}

@media all and (max-width: 650px) {
  .main {
    padding: 20px;
  }

  .main-left {
    width: 100%;
  }

  .main-right {
    width: 100%;
    padding: 0;
  }
}